@import './Util';

body,
html {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
}

#root {
    display: flex;
    flex-flow: column;
    height: 100%;

    .Header {
        flex: 0 1 auto;
    }

    .App {
        flex: 1 1 auto;
    }
}

.Header {
    &.navbar {

        height: 70px; 
        .navbar-brand {
            a {
                text-decoration: none;
                color: inherit;
            }
            img {
                height: 50px;
            }
        }
    }
}

.Footer {
    position: relative;
    .text-muted {
        a {
            text-decoration: none;
            color: inherit;

            transition: color .2s;

            &:hover, &:active, &:focus {
                color: #bbb;
            }
        }
    }

    .user-info {
        position: absolute;
        left: 1rem;
    }

    .log-out {
        cursor: pointer;
        position: absolute;
        right: 1rem;

        transition: color .1s;

        &:hover, &:active, &:focus {
            color: var(--bs-yellow);
        }
    }
}

@media all and (max-width: 992px) {
    .user-info, .log-out {
        position: relative;
    }
}

.Login {
    .wrap {
        padding: calc(1.5rem + 20px) 1.5rem 1.5rem;
        border: solid 1px #ccc;
        border-radius: .25rem;
        position: relative;
        overflow: hidden;

        .top-bar {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 20px;
            background-color: var(--bs-dark);
            box-shadow: 0 0px 5px 0 rgba(#000, .5);
        }
    }
    .error {
        transition: opacity .2s;
    }
}