.ImageControl {
    img {
        &.single {
            display: block;
            width: 150px;
            height: 80px;
            object-fit: contain;
            object-position: left bottom;
        }
    }
}

.PasswordControl {
    .control-area {
        display: flex;
        position: relative;
        .toggle-view {
            margin: auto 0;
            margin-left: -1.75rem;
        }
    }
}

.was-validated .PasswordControl .form-control:valid,
.PasswordControl .form-control.is-valid,
.was-validated .PasswordControl .form-control:invalid,
.PasswordControl .form-control.is-invalid {
    background-position: center right 2.25rem;
}

.EditHeading {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 5px 5px -5px rgba(#000, .2);
    margin-bottom: 1rem;
}