.View {
    position: relative;
    
    .heading {
        .icon {
            text-decoration: none;
            cursor: pointer;

            span::before {
                transition: transform .5s ease-out;
            }

            &.reload:hover {
                span::before {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .actions {
        span {
            cursor: pointer;
        }
    }
    
    .table {
        tbody {
            .actions {
                width: 80px;
            }
    
        }
    
        td, th {
            vertical-align: middle;
        }
    
        tr.deleted {
            display: none;
        }
    
        &.show-deleted {
            tr.deleted {
                background-color: rgba(255, 0, 0, 0.15);
                display: table-row;
            }
        }
    }

    .filter-select {
        width: unset;
    }
}

.Empreendimentos {
    .table {
        tbody {
            .logo {
                width: 120px;
                img {
                    margin: auto;
                    width: 80px;
                    height: 44px;
                    object-fit: cover;
                }
            }
    
            .updatedAt {
                width: 200px;
            }
        }
    }
}

.Users {
    .photo {
        width: 70px;
        
        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }
}

.Images {
    .row {
        .col {
            width: 160px;
            padding: 0;
            margin: .5rem;
    
            .card {
                border: none;
                border-radius: .25rem;
                overflow: hidden;
                cursor: pointer;

                .card-img-top {
                    margin: auto;
                    width: 160px;
                    height: 160px;
                    object-fit: cover;
                }

                .card-body {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(white, .8);
                    padding: .5rem;
                    opacity: 0;

                    transition: opacity .1s;

                    padding: .25rem .75rem;
                    margin: .25rem;
                    border-radius: .25rem;
                }

                .image-id {
                    position: absolute;
                    background-color: rgba(white, .8);
                    
                    padding: .25rem .5rem;
                    margin: .25rem;
                    border-radius: .25rem;
                }

                &:hover, &:focus {
                    .card-body {
                        opacity: 1;
                    }
                }
            }
        }

    }
}

.Single { 
    .single-inner {

        > * {
            padding: 0 1rem 1rem;
        }

        .edit {
            max-width: 600px;
        }

        .options {
            margin-left: auto;
            max-width: 300px;
        }
    }

    form {
        .form-label {
            font-weight: 600;
            font-size: .875rem;
            margin-bottom: .25rem;
        }
    
        .form-control, .form-select {
            border: solid 1px #B6B6E2;
            border-radius: 5px; 
    
            &::placeholder {
                color: #4C516F;
            }
        }
        
        .form-row {
            margin-bottom: .625rem;
        }
    }
}